Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
SCAV.zip
Content/FirstPersonBP/Maps/FirstPersonExampleMap_BuiltData.uasset
Content/Maps/de_shootbox2_BuiltData.uasset
Content/Maps/RyneMap_BuiltData.uasset
